html,
body {
  height: 100%;
  background-color: #333 !important;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#navigation{
	margin-top: 20px;
}

#logo{
	margin-left: 15px;
}
body{
	background-image: url('/images/background.jpg');
	background-position: cover;
}

.angosto{
	width: 80%;

}

#logoimage{
	width: 30px;
	height: 30px;
}

.margin-top{
	margin-top: 10px;
}